<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <FTPServer>11.11.111.22</FTPServer>
    <Username>eee</Username>
    <Password>EEEEEE</Password>
    <RemoteFilePath>\xxxxx\xxxxx\xxxxx\HR\New folder\HPA.csv</RemoteFilePath>
    <LocalFilePath>C:\Users\hyeongryeol.jeon\Desktop\ssss\HPA.csv</LocalFilePath>
</Configuration>
